<nav>
    <a href="/search">Search</a>
    <a href="/favmovies">Favorites</a>
    <a href="/watchlist">Watchlist</a>
    <a href="/settings">Edit Profile</a>
    <a href="/logout">Logout</a>
    <img src="/uploads/{{settingsHbs.imagefile}}" alt="profilepic">
</nav>