<nav>
    <img src="/uploads/{{user.imagefile}}" alt="profilepic">
    <a class='navlink' href="/search">Search</a>
    <a class='navlink' href="/favmovies">Favorites</a>
    <a class='navlink' href="/watchlist">Watchlist</a>
    <a class='navlink' href="/settings">Edit Profile</a>
    <a class='navlink' href="/logout">Logout</a>
</nav>