<h1>Movie theatre Amsterdam-Zuid</h1>

<div class="theatredetails">
    <h2>Movie theatre details</h2>
    <ul>
        <li>Opening days:</li>
        <li>Seats:</li>
        <li>Region:</li>
        <li>Street:</li>
    </ul>

    <img class="movietheatreimg" src="movietheatrepic.jpg" alt="movietheatrename">
</div>

<p>Google maps</p>

<div class="currentlyplayed">
    <h2>Movies currently being played</h2>
    <ul>
        <li>Monday 8PM: Movie Title</li>
        <li>Tuesday 8PM: Movie Title</li>
        <li>Wednesday 8PM: Movie Title</li>
        <li>Thursday 8PM: Movie Title</li>
        <li>Friday 8PM: Movie Title</li>
        <li>Saturday 8PM: Movie Title</li>
    </ul>
</div>

<div class="movietheatrescarousel">
    <h2>Other movie theatre's in Amsterdam</h2>
    <p>insert carousel images + names</p>
</div>


