<h1>Movie theatre Amsterdam-Zuid</h1>

<div class="theatredetailsmain">    
    <section></section>
    <h2>Movie theatre details</h2>    
    <div class="theatredetails">
        <ul>
            <li>Opening days:</li>
            <li>Seats:</li>
            <li>Region:</li>
            <li>Street:</li>
        </ul>
    </div>

    <div class="theatreimages">
        <img class="movietheatreimg" src="/images/theatre1.jpg" alt="movietheatrename">
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="currentlyplayed">
    <h2>Movies currently being played</h2>
    <ul>
        <li>Monday 8PM: Movie Title</li>
        <li>Tuesday 8PM: Movie Title</li>
        <li>Wednesday 8PM: Movie Title</li>
        <li>Thursday 8PM: Movie Title</li>
        <li>Friday 8PM: Movie Title</li>
        <li>Saturday 8PM: Movie Title</li>
    </ul>
</div>
</section>
