<div class=stylefavmovies>
<h1>Your all-time favourite movies</h1>

<div class="favmovienames">
    <ol class="orderedlistfavmovies">
        {{#each moviesHbs}}
            <section>
                <li class="favmovie">
                    <div><a href="#">Movie Name 1</div></a> 
                    <div>IMDb Rating Movie 1</div>
                </li>
            </section>
        {{/each}}
    </ol>
</div>    







