{{>navbar}}
<div class=stylefavmovies>
<h1>Your all-time favourite movies</h1>

<div class="favmovienames">
    <ol class="orderedlistfavmovies">
        {{#each moviesHbs as |movie|}}
                <li class="favmovie">
                    <div><a href="/movieprofile/{{movie}}">{{movie}}</a></div>
                </li>
        {{/each}}
    </ol>
</div>







