{{>navbar movie}}
<div class=stylefavmovies>
<h1>Your all-time favourite movies</h1>

<div class="favmovienames">
    <ol class="orderedlistfavmovies">
        {{#each moviesHbs as |movie|}}
                <li class="favmovie">
                    <a href="/movieprofile/{{movie}}">{{movie}}</a>
                    <a href="/removef/{{movie}}">remove</a>
                </li>
        {{/each}}
    </ol>
</div>







