<div class ='container'>
    <h1 id='title'>Moviefy</h1>
    <a href="login">Log In</a>
    <a href="signup">Sign Up</a>
    <div id='description'>
        <h5>Search your favourite movies</h5>
        <h5>Share them with your friends</h5>
        <h5>Find out who else loves the movies you do</h5>
    </div>
</div>