<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moviefy</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/cinema.css">
    <link rel="stylesheet" href="/css/favmovies.css">
</head>
<body>
    {{{body}}}
</body>
</html>