<h1>Movie Title</h1>

<div class="movieprofile">
    <div class="movieimage">
        <img src="moviepic.jpg" alt="moviename">
    </div>

    <div class="keymoviestats">
        <ul>
            <li>Genre:</li>
            <li>Actors:</li>
            <li>Producer:</li>
            <li>Year:</li>
            <li>Country/Language:</li>
            <li>IMDb Rating:</li>
        </ul>
    </div>

    <div class="description">
        <h2>Movie Description</h2>
        <p>Description text</p>
    </div>

    <div class="addtofavourites">
        <button class="favouritesbtn">ADD TO FAVOURITES</button>
    </div>

    <div class="addtowatchlist">
        <button class="watchlistbtn">ADD TO WATCHLIST</button>
    </div>

    <div class="commentssection">
        <h2>USER REVIEWS</h2>

        <p>User reviews here</p>

        <form class="userreview" action="/" method="post">
            <input type="text" id="review" name="review"><br><br>
            <button class="addreviewbtn">ADD REVIEW</button>
        </form>
    </div>
</div>