<h1>Movie database of Amsterdam</h1>
<h2>The biggest collection of movies in the world...</h2>

<form class="flexcontainer" action="/" method="get">
  <input type="text" id="movie" name="movie"><br><br>
  <button class="searchbtn">SEARCH</button>
</form>

<br>

<h1>Discover all movie theaters in Amsterdam</h1>
<h2>Find a movie theatre in your neigbourhood...</h2>

<ul class="locations">
    <a href="#"><li>Amsterdam-West</li></a>
    <a href="#"><li>Amsterdam-Oost</li></a>
    <a href="#"><li>Amsterdam-Zuid</li></a>
    <a href="#"><li>Amsterdam-Noord</li></a>
    <a href="#"><li>De Pijp</li></a>
    <a href="#"><li>Centrum</li></a>
    <a href="#"><li>Jordaan</li></a>
    <a href="#"><li>De Uitkijk ftw</li></a>

</ul>

<p class="googlemaps">Insert google maps view here</p>



