<div class="searchsection">
  <h1>Movie database</h1>
  <h2>The largest collection of movies in the world...</h2>

  <form class="flexcontainer" action="/" method="get">
    <input class="inputfield" placeholder="Type a movie title here!" type="text" id="movie" name="movie"><br><br>
    <button class="searchbtn">SEARCH</button>
  </form>
</div>  

<br>
<br>
<br>

<div class="mapssection">
  <div class="titlesection">
    <h1>Discover all movie theaters in Amsterdam</h1>
    <h2>Find a movie theatre in your neigbourhood...</h2>
  </div>

  <div class="cinemalocations">
    <ul class="locations">
        <a href="#"><li>Amsterdam-West</li></a>
        <a href="#"><li>Amsterdam-Oost</li></a>
        <a href="#"><li>Amsterdam-Zuid</li></a>
        <a href="#"><li>Amsterdam-Noord</li></a>
        <a href="#"><li>Amsterdam-Centrum</li></a>
    </ul>

  <form class="googlemaps" action="/" method="get">
    <input class="googlefield" placeholder="Google field" type="text" id="movie" name="movie"><br><br>
  </form>
    
  </div>
</div>
