<a href="/">BACK</a>
<form action="" method="POST" enctype="multipart/form-data">
    <label for="username">Edit your username</label>
    <input type="text" name='username' placeholder="Username">

    <label for="profile-image">Upload a profile picture</label>
    <input type="file" name="profile-image" >

    <button type="submit">SAVE</button>
</form>