<h2>Welcome to Moviefy</h2>
<form action="signup" method="POST">
    <label for="username">Choose a username:</label>
    <input name='username' type="text" pattern="/^[0-9a-zA-Z]+$/" required placeholder="Numbers and Letters only">
    <label for="password">Choose a password:</label>
    <input name='password' type="text" required placeholder="Password">
    <label for="password-repeat">Repeat your password:</label>
    <input name='password-repeat' type="text" required placeholder="Password">
    <button type="submit">Sign Up</button>
</form>