<h2>Welcome to Moviefy</h2>
<form action="signup" method="POST">
    <label for="username">Choose a username:</label>
    <input name='username' type="text" pattern="/^[0-9a-zA-Z]+$/" required placeholder="username">
    <label for="password">Choose a password:</label>
    <input name='password' type="text" required placeholder="password">
    <button type="submit">Sign Up</button>
</form>