<div class="stylewatchlist">
<h1>Your movies watchlist ... Gotta Watch 'em All</h1>

<div class="watchlistmovies">
    <ol class="orderedwatchlist">
        <section>
            <li class="moviewatchlist">
                <div><a href="#">Movie Name 1</div></a>
                <div>IMDb Rating Movie 1</div>
            </li>
        </section>

        <section>
            <li class="moviewatchlist">
                <div><a href="#">Movie Name 2</div></a>
                <div>IMDb Rating Movie 2</div>
            </li>
        </section>

        <section>
            <li class="moviewatchlist">
                <div><a href="#">Movie Name 3</div></a>
                <div>IMDb Rating Movie 3</div>
            </li>
        </section>

        <section>
            <li class="moviewatchlist">
                <div><a href="#">Movie Name 4</div></a>
                <div>IMDb Rating Movie 4</div>
            </li>
        </section>

        <section>
            <li class="moviewatchlist">
                <div><a href="#">Movie Name 5</div></a>
                <div>IMDb Rating Movie 5</div>
            </li>
        </section>
    </ol>
</div>