{{>navbar}}
<div class="stylewatchlist">
<h1>Your movies watchlist ... Gotta Watch 'em All</h1>

<div class="watchlistmovies">
    <ol class="orderedwatchlist">
        {{#each moviesHbs as |movie|}}
                <li class="moviewatchlist">
                    <a href="/movieprofile/{{movie}}">{{movie}}</a>
                    <a href="/removew/{{movie}}">remove</a>
                </li>
        {{/each}}
    </ol>
</div>