.stylecinema {
    margin-left: 25px;
    margin-right: 25px;
}

.maintheatretitle {
    padding-bottom: 1px;       
}

.theatredetails {
    float: left;
    line-height: 1.5;
    margin-left: 25px;
}

.theatreimages {
    float: right;
    box-shadow: 4px 4px lightgrey;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 1px;
}

.currentlyplayed {
    line-height: 1.5;
}

.movieplays {
    margin-left: 25px;
}



