footer p {
    background-color: #E50914;
    color:white;
    font-size: 0.8rem;
    height: 5vh;
    width: 100vw;
    text-align: center;
    line-height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;

}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #E50914;
}

nav a {
    color: white;
    text-decoration: none;
}

nav img {
    height:40px;
    border:2px solid rgb(151, 8, 15);
}

