@import 'cinema.css';
@import 'favmovie.css';
@import 'movieprofile.css';
@import 'watchlist.css';
@import 'search.css';
@import 'auth.css';
@import 'front.css';

* {
    font-family: Oswald;
    margin:0;
    padding:0;
}

h1 {
    color: #E50914;
}

h2 {
    color: #E50914;
}

p {
    color: black;
}

h5 {
    color: blue;
}



