body {
    background-color: #E50914
}

/* @import 'cinema.css';
@import 'favmovie.css';
@import 'movieprofile.css';
@import 'watchlist.css';
@import 'search.css';
@import 'auth.css';
@import 'front.css'; */

* {
    font-family: Oswald;
    margin-left: 15px;
    margin-right: 15px;
}

h1 {
    color: #E50914;
}

h2 {
    color: #E50914;
}

p {
    color: black;
}

h5 {
    color: blue;
}



